<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almosting.easypermissions">

  <application>
    <activity
        android:name="com.almosting.easypermissions.AppSettingsDialogHolderActivity"
        android:exported="true"
        android:label=""
        android:theme="@style/EasyPermissions.Transparent"/>
  </application>
</manifest>
